body{
    background-image:

}
h1{
    color: black;

}
.maroon-text{
    color: maroon;
    font-size: xx-large;
}
.pink-text{
    color:pink;
    font-size: xx-large;
    .image-container {
        text-align: center; /* Center the image horizontally */
    }
    .inline-image {
        display: inline-block;
        margin: 10px; /* Add margin to create some spacing between images */
    }
    }
    

.palevioletred-text{
    color: palevioletred;
    font-size: xx-large;
}
.cornflowerblue-text{
    color:cornflowerblue;
    font-size: xx-large;
}

#firsttext{
    Position: absolute; top: 200px; left:10px;
    width: 400px;
    height: 800px;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(163, 26, 26);
}
#secondtext{
    Position: absolute;top: 200px;left: 490px;
    width: 800px;
    height: 800px;
    padding: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(232, 150, 181);
}
#thirdtext{
    Position: absolute;top: 1070px;left: 10px;
    width: 1270px;
    height: 800px;
    padding: 20px;
    border-style: solid;
    border-width: 12px;
    border-color: rgb(224, 185, 215);
}
#fourthtext{
    position: absolute; top: 2000px; left: 10px;
    width: 900px;
    height: 1000px;
    padding: 20px;
    border-style: dotted;
    border-width: 15px;
    Border-color: navy;

}
#fifthtext{
    position:absolute; top: 2000px; left: 1000px;
    width: 300px;
    Height: 900px;
    padding: 10px;
    border-style: solid;
    border-width: 15px;
    border-color:brown;
    font-size: 140%;

}
#six{
    position:absolute; top: 2350px; left: 1050px;
    font-size: 130%;
    font-weight: 300;
    
    
}
